// Put here all the styles you want to add or edit
.navbar-brand {
  width: 80%;
  img {
    max-height: 55px;
  }
}

.navbar-opaque.navbar-inverse .navbar-nav {
  .nav-link {
    color: $golden-light-3;
  }

  .nav-link:hover {
    color: $golden-light-2;
  }

  .active .nav-link {
    color: $golden-light-1;
  }
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: $golden-light-1;
}

.sticky-top {
  position: -webkit-sticky !important;
  position: sticky !important;
}

.section-title .section-title-delimiter::before {
  background: $golden-gradient;
}
.background-image-holder .container {
  height: 80%;
}

.btn-golden {
  color: #000;
  background: $golden-gradient-background;
  border: 2px solid $golden-dark-1;
}
.btn-golden:active, .btn-golden:hover {
  border-color: $golden-light-1;
}
.btn-golden:focus {
  background: $golden-gradient-background-inverse;
}
.social-media.social-media--style-1-v2 > li > a {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &:hover {
    background: $golden-gradient-background;
    color: #000;
  }
}
.border-color-golden {
  border-color: $golden-dark-1 !important;
}
.block--style-3 .block-price {
  color: $golden-light-2;
}
.blog-sidebar {
  .post-thumb{
    width: 50%;

    img {
      width: 100%;
      padding: 10px;
    }
  }
}
.form-material .bar::after, .form-material .bar::before {
  background: $golden-gradient;
}
.heading:hover > a {
  color: $golden-light-2 !important;
}
.block-author .author-info .author-name > a:hover {
  color: $golden-light-2 !important;
}
.color-golden {
  color: $golden-light-2 !important;
}
.footer .footer-menu > li > a {
  padding: 0.25rem 0.4rem 0.25rem 0;
}
.text-golden-gradient {
  background: $golden-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

  &:hover {
    background: $golden-gradient-inverse;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.alliances {
    padding: 50px;

    a {
        margin: 20px;
    }

    .logo-box {
        border: 1px solid #bbb;
        text-align: center !important;
        margin: 5px 0;
        border-radius: 5px;
        padding: 5px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-transition: all 0.2s ease !important;
        -moz-transition: all 0.2s ease !important;
        -o-transition: all 0.2s ease !important;
        -ms-transition: all 0.2s ease !important;
        transition: all 0.2s ease !important;

        .logo-hover {
            display: none
        }

        .logo-inner-box {
          margin: auto;
        }

        a img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);

            .logo-hover {
                border: 1px solid $golden-dark-1;
                padding: 5px 20px 5px 5px;
                display: block;
                z-index: 100;
                left: 0px;
                margin: 10px;
                width: 250px;
                position: absolute;
                top: -50px;
                text-decoration: none;
                background-color: black;
            }
        }
    }

}
.card-buttons{
    position: relative;
    bottom: 10px;
    width: 100%;
}
.card-body.px-4.py-4 {
    // position: absolute;
}

.image-hover {
    display: none;
    border: 1px solid $golden-dark-1;
    padding: 5px 20px 5px 5px;
    z-index: 100;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    background-color: black;
}
.d-block {
    display: block;
}
.custom-tooltip {
    .custom-tooltip-hover {
        display: none
    }

    &:hover .custom-tooltip-hover {
        border: 1px solid $golden-dark-1;
        padding: 10px;
        display: block;
        z-index: 100;
        left: 0px;
        margin: 10px;
        position: absolute;
        top: -50px;
        text-decoration: none;
        background-color: black;

        h6 {
            margin: 0;
        }
    }
}
